version: '3.3'

services:
 # The error pages server
 error:
   image: nginx:stable-alpine
   networks:
     - traefik_public
   volumes:
     - ./error-pages:/usr/share/nginx/html
     - ./error.conf:/etc/nginx/conf.d/default.conf
   deploy:
     labels:
       - 'traefik.enable=true'
       - 'traefik.http.routers.catchall.rule=HostRegexp(`^.+\.wuhanstudio\.uk`)'
       - 'traefik.http.routers.catchall.entrypoints=web'
       - 'traefik.http.routers.catchall.priority=1'
       - 'traefik.http.routers.catchall.middlewares=error-pages-middleware'
       - 'traefik.http.middlewares.error-pages-middleware.errors.status=404'
       - 'traefik.http.middlewares.error-pages-middleware.errors.service=error'
       - 'traefik.http.middlewares.error-pages-middleware.errors.query=/{status}.html'
       - 'traefik.http.services.error.loadbalancer.server.port=80'

networks:
  traefik_public:
    external: true
