# yaml-language-server: $schema=https://taskfile.dev/schema.json

version: '3'

vars:
  ACME_EMAIL_VAR: wuhanstudio@qq.com
  LETSENCRYPT_DIR_VAR: /mnt/letsencrypt

tasks:
  init:
    desc: Initialize traefik overlay network and folders
    cmds:
      - docker network create --driver=overlay traefik-public

  traefik:
    desc: Install traefik ingress controller
    env:
      ACME_EMAIL: '{{.ACME_EMAIL_VAR}}'
      LETSENCRYPT_DIR: '{{.LETSENCRYPT_DIR_VAR}}'
    cmds:
      - sudo mkdir -p {{.LETSENCRYPT_DIR_VAR}}
      - docker stack deploy -c traefik-compose.yml traefik

  status:
    desc: Check deployment status
    cmds:
      - docker service ls
