# yaml-language-server: $schema=https://taskfile.dev/schema.json

version: '3'

vars:
  ACME_EMAIL_VAR: wuhanstudio@qq.com

tasks:
  traefik:
    desc: Install traefik ingress controller
    env:
      ACME_EMAIL: '{{.ACME_EMAIL_VAR}}'
    cmds:
      - sudo mkdir -p ./letsencrypt
      - docker pull traefik:v3.6
      - docker pull nginx:stable-alpine
      - docker stack deploy -c traefik-compose.yml traefik

  status:
    desc: Check deployment status
    cmds:
      - docker service ls
